{% load static %}

<meta charset="utf-8">

<meta name="author" content="Alexis MELO DA SILVA">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="{% static "boardgame_manager/css/header.css" %}">
<link rel="stylesheet" href="{% static "boardgame_manager/css/footer.css" %}">
<link rel="stylesheet" href="{% static "boardgame_manager/css/index.css" %}">


